.container {
    display: flex;
    height: 580px;
    color: blue;
    font-weight: bold;
}

.container .navegacao {
    background-color: orange;
    padding: 20px;
}

.container .outros .cabecalho {
    background-color: aquamarine;
    padding: 20px;
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container .outros .corpo {
    display: flex;
}

.container .outros .corpo .conteudo {
    background-color: purple;
    height: 300px;
    width: 330px;
    padding: 20px;
}